player-connection-mode=Listen
player-connection-guid=903038392
player-connection-debug=0
player-connection-project-name=Racing
player-connection-ip=10.60.19.41
gfx-enable-gfx-jobs=1
gfx-enable-native-gfx-jobs=1
wait-for-native-debugger=0
hdr-display-enabled=0
gc-max-time-slice=3
build-guid=ca2d8b6c25514fe49961d7d8151a9669
